app-header(fixed)
  sidebar-toggler.d-lg-none(:defaultOpen='first_sidebar_toggle' display='md' mobile, @click.native="publish('nav-navbar-minimizer')")
  b-link.navbar-brand(href='javascript:void(0)')
    img.navbar-brand-full(src='../assets/img/logo.png', width='30', height='30', alt='Konseling')
    img.navbar-brand-minimized(src='../assets/img/logo.png', width='30', height='30', alt='Konseling')
  sidebar-toggler.navbar-minimizer.d-md-down-none(:defaultOpen='first_sidebar_toggle' display='lg', @click.native="publish('nav-navbar-minimizer')")
  b-navbar-nav.ml-auto
    b-nav-item(href='javascript:void(0)' @click="publish('mp-toggle-window')")
      i.fas.fa-music
    b-nav-item(@click='doLogout' :disabled='isDisabled', href='javascript:void(0)')
      i.fas.fa-power-off
